{% extends "base.html" %}

{% block content %}
<h1 class="title">
	Plot of Water Intake, Temperature, Pressure, Humidity against Time
</h1>

<h1>
	User: {{ name }}
</h1>


<head>
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
</head>
<body>
    <!-- <h1 style="text-align: center; margin-bottom: 40px;">Plot of Water Intake, Temperature, Pressure, Humidity against Time</h1> -->
    <div style="display: flex; justify-content: center; margin-bottom:3cm;">
        {{ div_p_trend|indent(4)|safe }}
        {{ script_p_trend|indent(4)|safe }}
    </div>

    <div style="display: flex; justify-content: center; margin-bottom:3cm;">
        {{ div_p_season|indent(4)|safe }}
        {{ script_p_season|indent(4)|safe }}
    </div>

    <div style="display: flex; justify-content: center; margin-bottom:3cm;">
        {{ div_p_resid|indent(4)|safe }}
        {{ script_p_resid|indent(4)|safe }}
    </div>

    <img src="../static/Figure_1.png">
	

</body>
</html>

{% endblock %}